/* container */
$widthContainer: 1300px;
$paddingContainer: 10px;

/* base typography */
$baseFont: "Manrope", sans-serif;
$baseWeight: 400;

/* colors */
$linkColor: #000A84; /* base color for <a> */