.header {
  padding: 50px 0;
  // margin-bottom: 140px;

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-logos {
    max-width: calc(100% - 36px);
    flex: 0 0 calc(100% - 36px);
    display: flex;
    align-items: center;
    line-height: 0;
  }

  &-logo {
    &-link {
      margin-right: 60px;
      display: inline-block;
      line-height: 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-lang {
    border-radius: 100%;
    background: linear-gradient(271deg, transparent 30%, rgba(247, 74, 157, .4) 70%);
    width: 36px;
    height: 36px;
    flex: 0 0 36px;
    display: block;
    text-align: center;
    line-height: 36px;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
  }

  @media(max-width: 1440.99px) {
    padding: 35px 0;

    &-logo {
      &-link {
        margin-right: 50px;
      }
    }
  }

  @media(max-width: 1280.99px) {
    padding: 30px 0;

    &-logo {
      &-link {
        margin-right: 40px;
      }
    }
  }

  @media(max-width: 1024.99px) {
    padding: 25px 0;

    &-logo {
      &-link {
        margin-right: 30px;
        max-width: 145px;
      }
    }
  }

  @media(max-width: 768.99px) {
    padding: 20px 0;

    // &-logo {
    //   &-link {
    //     // margin-right: 20px;
    //     // max-width: 110px;
    //   }
    // }
  }

  @media(max-width: 576.99px) {
    &-content {
      align-items: flex-start;
    }

    &-lang {
      position: relative;
      top: -5px;
    }


    &-logo {
      &-container {
        width: calc(100% + 36px);
        text-align: center;
      }
      // &-link {
      //   // max-width: 100px;
      // }
    }

    &-logos {
      flex-direction: column;
      align-items: flex-start;

      &> .header-logo-link {
        margin-bottom: 62px;
      }
    }
  }

  // @media(max-width: 480.99px) {
  //   &-logo {
  //     &-link {
  //       // max-width: 86px;
  //       // margin-right: 12px;
  //     }
  //   }
  // }
}